/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Required */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --primary: theme("colors.primary"); /* Dark Gray */
  --secondary: #a2a2a2; /* Medium Gray */
  --tertiary: #f4f4f4; /* Light Gray */
  --tealGreen: #2e8185;
  --emeraldMist: #4bbd8e;
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* Universal Styles */

* {
  scroll-behavior: smooth;
}

/* Custom Classes */

@layer utilities {
  .tracking-custom {
    letter-spacing: 0.7em;
  }
}

/* Note: The @apply directive allows css to implement Tailwind classes */
@layer components {
  .navbar {
    @apply flex flex-row fixed w-full h-[60px] bg-tealGreen z-50;
  }
  .nav-link {
    @apply flex flex-col text-tertiary font-bold leading-[4em] cursor-pointer;
  }
  .nav-link-active {
    @apply flex flex-col text-tealGreen font-bold leading-[4em] cursor-pointer;
  }
  .input-label {
    @apply block text-sm font-medium text-primary font-merriweather;
  }
  .input {
    @apply mt-1 h-[38px] block w-full border-secondary rounded-md shadow-sm focus:border-emeraldMist focus:ring focus:ring-emeraldMist focus:ring-opacity-50;
  }
  .form-title {
    @apply text-3xl font-semibold font-merriweather text-center mb-10;
  }
  .form-btn {
    @apply w-full mt-3 py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-emeraldMist hover:bg-emeraldMist focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emeraldMist font-merriweather;
  }
}

@layer alerts {
  .alert {
    @apply text-white text-sm p-2 rounded-md;
  }
  .alert-success {
    @apply text-green-500;
  }
  .alert-error {
    @apply text-center text-red-500;
  }
}

.overlay {
  position: relative;
  background-color: var(--tertiary);
  background-image: url("/images/graphy.png");
  background-position: center;
}

.bg-tealGreen {
  background-color: var(--tealGreen);
}

.bg-emeraldMist {
  background-color: var(--emeraldMist);
}

.bg-high-jump {
  background-image: url("/images/high-jump-outside.jpg");
  background-size: cover;
  background-position: center;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  padding-top: 5em;
  padding-left: 2em;
  z-index: 10;
  /* backdrop-filter: blur(5px); */
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.log-form {
  display: flex;
  flex-direction: column;
}
.navbar {
  position: absolute;
  top: 0;
}

.log-section {
  align-items: center;
  position: relative;
  margin-top: 70px;
}
.log-input {
  border: 3px solid black;
  margin-bottom: 20px;
}
.log-text-input {
  max-height: 50px;
}
.log-btn {
  margin: 20px, auto;
  background-color: var(--primary);
  color: var(--tertiary);
}

.box-shadow {
  /* box-shadow: x offset | y offset| blur radius | spread | color */
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.4) !important;
}
