/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
--primary: #2B2B2A; /* Dark Gray */
--secondary: #A2A2A2; /* Medium Gray */
--tertiary: #F4F4F4; /* Light Gray */
--tealGreen: #2E8185;
--emeraldMist: #4BBD8E;
--card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* Universal Styles */

* {
scroll-behavior: smooth;
}

/* Custom Classes */

@layer utilities {
  .tracking-custom {
    letter-spacing: 0.7em; /* Adjust the value to your preference */
  }
}

/* Note: VSCode says there is an error with @apply directive - it still works */
@layer components {
  .navbar {
    @apply flex flex-row fixed w-full h-[60px] bg-tealGreen z-50;
  }
  .nav-link {
    /* Use @apply directive to utilize Tailwind classes */
    @apply flex flex-col text-tertiary font-bold leading-[4em] cursor-pointer;
  }
  .nav-link-active {
    /* Use @apply directive to utilize Tailwind classes */
    @apply flex flex-col text-tealGreen font-bold leading-[4em] cursor-pointer;
  }
}

.overlay {
  position: relative;
  background-color: var(--tertiary);
  background-image: url('../../public/images/graphy.png');
  background-position: center;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-tealGreen {
  background-color: var(--tealGreen);
}


.bg-emeraldMist {
  background-color: var(--emeraldMist);
}

.bg-high-jump {
  background-image: url('../../public/images/high-jump-outside.jpg');
  background-size: cover;
  background-position: center;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  padding-top: 5em;
  padding-left: 2em;
  z-index: 10;
  /* backdrop-filter: blur(5px); */
}

.menu-item {
  padding: 1em;
  margin: 1em;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer
}

/* Menu Tray */

.hidden {
  display: none;
}

.visible {
  display: inherit;
}
